<p id="notice"><%= notice %></p>

<p>
  <strong>Uebung:</strong>
  <%= @trainingsplan.uebung %>
</p>

<p>
  <strong>Saetze:</strong>
  <%= @trainingsplan.saetze %>
</p>

<p>
  <strong>Wiederholungen:</strong>
  <%= @trainingsplan.wiederholungen %>
</p>

<p>
  <strong>Abgeschlossen:</strong>
  <%= @trainingsplan.abgeschlossen %>
</p>

<%= link_to 'Edit', edit_trainingsplan_path(@trainingsplan) %> |
<%= link_to 'Back', trainingsplans_path %>
